body {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  font-size: 1.5em;
  margin-left: 44px;
}
#container { 
  width: 1520px;
  margin: 50px 0px;
}
ol {
  padding-left: 0px;
  margin: 0px;
}
ul { 
  padding: 0;  
  margin: 0;
}
li {
  padding: 0;
  float: left;
  margin: 10px;
  list-style: none;
  // outline: solid;
  // border: 1px solid black;
  width: 170px;
  height: 150px;
  cursor: pointer;
  background-color: #00476b;
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 48 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 28v-4L36 12 24 24 12 12 0 24v4l4 4-4 4v4l12 12 12-12 12 12 12-12v-4l-4-4 4-4zM8 32l-6-6 10-10 10 10-6 6 6 6-10 10L2 38l6-6zm12 0l4-4 4 4-4 4-4-4zm12 0l-6-6 10-10 10 10-6 6 6 6-10 10-10-10 6-6zM0 16L10 6 4 0h4l4 4 4-4h4l-6 6 10 10L34 6l-6-6h4l4 4 4-4h4l-6 6 10 10v4L36 8 24 20 12 8 0 20v-4zm0 32l10 10-6 6h4l4-4 4 4h4l-6-6 10-10 10 10-6 6h4l4-4 4 4h4l-6-6 10-10v-4L36 56 24 44 12 56 0 44v4z' fill='%23000000' fill-opacity='0.11' fill-rule='evenodd'/%3E%3C/svg%3E");
}

img { 
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all 0.2s cubic-bezier(.17,.67,.83,.67);

  &.hidden {
    opacity: 0;
    transition: all 0.1s cubic-bezier(.17,.67,.83,.67);
  }
}
button {
  overflow: hidden;
  border: 1px solid #fff!important;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 15px 40px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  transition: all 0.3s;
  &:hover {
    &::after {
    height: 220%;
    opacity: 1;
    }
  }
}
button::after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}